html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center center;
}
.app {
  width: 94%;
  height: 96%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: .25em;
}
.header, .footer {
  width: 100%;
  display: grid;
  place-items: center center;
}

.footer {
  place-items: center start;
}

.hidden {
  visibility: hidden;
}

.content {
  display: grid;
  grid-template-rows: 3em 3em 3em 5em;
  place-items: center center;
}

.routes, .directions, .stops {
  display: grid;
  grid-template-columns: 100px 450px;
  place-items: center center;
}

.container>select {
  width: 400px;
  border-radius: 25px;
}

.container>label {
  width: 100px;
}

.material-icons {
  font-size: 16px;
}

.cols {
  width: auto;
}