html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center center;
}
.app {
  width: 94%;
  
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
}
.header {
  width: 100%;
  display: grid;
  place-items: center center;
}

.hidden {
  visibility: hidden;
}

.content {
  display: grid;
  grid-template-rows: auto auto auto auto;
  place-items: center center;
  gap: 1em;
}

.routes, .directions, .stops {
  display: grid;
  grid-template-columns: 100px 450px;
  place-items: center center;
}

.container>select {
  width: 400px;
  border-radius: 25px;
}

.container>label {
  width: 100px;
}

.material-icons {
  font-size: 16px;
}

.cols {
  width: auto;
}